/* Colors Section */

.maroon {
    color: #973D4E;
}

.teal {
    color: #3D9786;
}

.mustard {
    color: #DBA625;
}

.royal-blue {
    color: #255ADB;
}

/* Fonts Section */

font-family: 'Cormorant Garamond', serif;
font-family: 'Harmattan', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Palanquin', sans-serif;
font-family: 'Saira Condensed', sans-serif;