/* Colors Section */

.color-panel {
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.maroon {
    color: white;
    background-color: #973D4E;
}

.teal {
    color: white;
    background-color: #3D9786;
}

.mustard {
    color: white;
    background-color: #DBA625;
}

.royal-blue {
    color: white;
    background-color: #255ADB;
}

/* Fonts Section */

.font-1 {
    font-family: 'Cormorant Garamond', serif;
}

.font-2 {
    font-family: 'Harmattan', sans-serif;
}

.font-3 {
    font-family: 'Kalam', cursive;
}

.font-4 {
    font-family: 'Palanquin', sans-serif;
}

.font-5 {
    font-family: 'Saira Condensed', sans-serif;
}